*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.apk
app/release/com.crt.whuseats_1(修复5.0更新问题).apk
*.apk
