<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crt.whuseats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ApplicationV"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--百度自动更新元数据-->
        <meta-data
            android:name="BDAPPID"
            android:value="11759848" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="I8DPkwND7obIy7e8ur48XiOykpuRz4Xy" />
        <!--百度移动统计-->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="d69142014f" />

        <!-- 渠道商编号 -->

        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="${CHANNEL_NAME}" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />

        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->


        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="false" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="false" />

        <!-- Android N Provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.crt.whuseats"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>


        <!-- android:authorities="包名.fileprovider"将“包名”替换为实际包名 -->
        <!--<provider-->
        <!--android:authorities="com.crt.whuseats.fileprovider"-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/bdp_update_filepaths"/>-->
        <!--</provider>-->

        <activity
            android:name="com.crt.whuseats.Activity.HomeActivity"
            android:screenOrientation="portrait" />

        <!--广告SplashActivity-->
        <activity
            android:name="com.crt.whuseats.Activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.crt.whuseats.Activity.LoginActivity"
            android:theme="@style/MaterialNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.crt.whuseats.Service.NetService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.crt.whuseats.Activity.SeatsActivity" />

        <receiver
            android:name="com.crt.whuseats.Broadcast.ReservationChangeReciver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.crt.whuseats.RECHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.crt.whuseats.Activity.HistoryActivity" />
        <activity android:name="com.crt.whuseats.Activity.WebViewActivity" />

        <service
            android:name="com.crt.whuseats.Service.BookService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.crt.whuseats.Broadcast.BookReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.crt.whuseats.ReadytoBook" />

                <!-- 提高Service的存活率的四个action -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.crt.whuseats.Activity.AutoCreatSettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="crt" />
            </intent-filter>
        </activity>
        <activity android:name="com.crt.whuseats.Activity.TimeChangeActivity" />
        <activity android:name="com.crt.whuseats.Activity.ListenActivity" />


        <activity android:name="com.crt.whuseats.Activity.AdminActivity"></activity>

        <!--广点通联盟要求的两个内容-->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

    </application>

</manifest>